.mainComponent {
    background-color: rgba(255, 255, 255, 0.281);
    width: 80%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 2%;
    margin-left: 10%;
}