$green: true !default;

$primaryColor: red !default;
$secondaryColor: orange !default;

@if $green {
    $primaryColor: green;
    $secondaryColor: rgb(177, 216, 177);
    
}





.button {
    width: 150px;
    height: 60px;
    border-radius: 50px;
    background-image: linear-gradient( 135deg, $primaryColor 0%, $secondaryColor 100%);
    box-shadow: 0 20px 30px -6px rgba(244, 246, 248, 0.5);
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: white;

    &:hover{
        transform:translatey(5px);
        box-shadow: none;
      }
      &:active{
        opacity: 0.5;
      }
}