.creationPage {
    text-align: center;
}

.creWrapper {
    display: flex;
    // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;
}