body {
    /* background-color: beige; */
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(to right,rgb(241, 172, 21), rgb(234, 248, 106));
    
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:whitesmoke;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    box-shadow: 0px 10px 14px -7px #276873;
    border-radius: 0.3rem;
    background-image: linear-gradient(to bottom, rgb(81, 255, 81), rgb(75, 95, 67));

}
h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(34, 31, 31);
    margin: 10px;
    padding: 10px;
    display: inline-block;
    box-shadow: 0px 10px 14px -7px #276873;
    border-radius: 0.3rem;

}
.container {
    display: grid;
    margin: 20px;
    justify-content: center;
    grid-template-columns: 20vw 50vw 20vw;
    gap: 20px;
    
    
}
.item {
    background-color: white;
    background-image: linear-gradient(to bottom right, white, rgb(218, 184, 184));
    padding: 25px;
    
}
.li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #599bb3; 
    font-size: 1em;
    margin: 10px;
    padding: 10px;
    /* display: inline-block; */
    box-shadow: 0px 10px 14px -7px #276873;
    border-radius: 0.3rem;
    list-style: none;
    text-align: justify;
}
.transl {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(243, 52, 141); 
    font-size: 1em;
    
}
.nb {
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(64, 48, 150); 
    font-size: 0.9em;
    font-style: italic;
    
}
.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #29668f 5%, #599bb3 100%);
	background-color:#599bb3;
	border-radius:8px;
	border:2px solid #29668f;
    display:inline-block;
    margin: 25px;
    margin-left: 30px;
    margin-right: 30px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
 
}

.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}

.deleteButton {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	/* display:inline-block; */
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 12px;
	text-decoration:none;
    text-shadow:0px 1px 0px #854629;
    float: right;
        
}
.deleteButton:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.deleteButton:active {
	position:relative;
	top:1px;
}

.myinput {
    display: inline-block;
    box-sizing: content-box;
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    font: normal 16px/normal "Lucida Console", Monaco, monospace;
    color: rgba(0,142,198,1);
    text-overflow: clip;
    background: linear-gradient(180deg, rgba(246,248,249,1) 0, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 84%, rgba(245,247,249,1) 100%), rgba(252,252,252,1);
    background-position: 50% 50%;
    background-origin: padding-box;
    background-clip: border-box;
    background-size: auto auto;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }

  .phrase {
     color: #599bb3; 
     padding-left: 50px;
     text-align: left;
     font-size: 1em;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .phraseCenter {
    color: #599bb3; 
    padding-left: 1px;
    text-align: center;
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

  .red {
    color: #e60000; 
    
  }
