body {
    /* background-color: beige; */
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(to right,rgb(241, 172, 21), rgb(234, 248, 106));
    
}

h1 {
    grid-area: 1/2/2/3;
    justify-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:whitesmoke;
    font-size: 2em;
    margin: 5px;
    padding: 2px;
    width: 250px;
    box-shadow: 0px 10px 14px -7px #276873;
    border-radius: 0.3rem;
    background-image: linear-gradient(to bottom, rgb(81, 255, 81), rgb(75, 95, 67));

}
/* h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(34, 31, 31);
    margin: 10px;
    padding: 10px;
    display: inline-block;
    box-shadow: 0px 10px 14px -7px #276873;
    border-radius: 0.3rem;

} */
.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 50px 50vh;
    /* margin: 10px; */
    padding: 10px;
    gap: 15px;
}
.box1 {
    grid-area: 2/1/3/2;
    background-color: rgb(86, 90, 92);
}

.box2 {
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    background-color: lawngreen;
    justify-content: center;
    
    
    
}
.box3 {
    grid-area: 2/3/2/4;
    background-color: white;
    background-image: linear-gradient(to bottom right, white, rgb(218, 184, 184));
    
}
.box4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    padding: 15px;
    gap: 10px;
    background-color: rgb(176, 233, 235);
    justify-content: center;
    text-align: left;
    
}
.card {
    background-color: white;
    margin: 5px;
}
.langInput {
    justify-self: center;
    height: 25px; 
    margin: 10px;
    width: 80%;
    padding: 8px 10px;
    margin: 2px; 
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    font: normal 16px/normal "Lucida Console", Monaco, monospace;
    color: rgba(0,142,198,1);
    background: linear-gradient(180deg, rgba(246,248,249,1) 0, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 84%, rgba(245,247,249,1) 100%), rgba(252,252,252,1);
    background-position: 50% 50%;
    background-origin: padding-box;
    background-clip: border-box;
    background-size: auto auto;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
p {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    font-size: 1.2em;
    color:navy;
}

.langList {
    text-align: start;
    padding: 8px 10px;
    margin: 2px; 
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    font: normal 16px/normal "Lucida Console", Monaco, monospace;
    color: whitesmoke;
    background-color: #009BFF;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
   
}

.checkbox-label {

    /* position: relative; */
    margin: auto;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    width: 24px;
    clear: both;
}

/* .checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
} */

/* .checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid #FFFFFF;
}


.checkbox-label input:checked ~ .checkbox-custom {
    background-color: #FFFFFF;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 2px solid #FFFFFF;
}


.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #009BFF;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity:1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #009BFF;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

.checkbox-label .checkbox-custom::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    border: 2px solid #FFFFFF;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);    
}

.checkbox-label input:checked ~ .checkbox-custom::before {
    left: -3px;
    top: -3px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
    opacity:0;
    z-index: 999;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
} */












.li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #599bb3; 
    font-size: 1em;
    margin: 10px;
    padding: 10px;
    /* display: inline-block; */
    box-shadow: 0px 10px 14px -7px #276873;
    border-radius: 0.3rem;
    list-style: none;
    text-align: justify;
}
.transl {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(243, 52, 141); 
    font-size: 1em;
    
}
.nb {
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(64, 48, 150); 
    font-size: 0.9em;
    font-style: italic;
    
}
.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #29668f 5%, #599bb3 100%);
	background-color:#599bb3;
	border-radius:8px;
	border:2px solid #29668f;
    display:inline-block;
    margin: 25px;
    margin-left: 30px;
    margin-right: 30px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
 
}

.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}

.deleteButton {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	/* display:inline-block; */
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 12px;
	text-decoration:none;
    text-shadow:0px 1px 0px #854629;
    float: right;
        
}
.deleteButton:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.deleteButton:active {
	position:relative;
	top:1px;
}

.myinput {
    display: inline-block;
    box-sizing: content-box;
    padding: 8px 10px;
    margin: 2px; 
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    font: normal 16px/normal "Lucida Console", Monaco, monospace;
    color: rgba(0,142,198,1);
    text-overflow: clip;
    background: linear-gradient(180deg, rgba(246,248,249,1) 0, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 84%, rgba(245,247,249,1) 100%), rgba(252,252,252,1);
    background-position: 50% 50%;
    background-origin: padding-box;
    background-clip: border-box;
    background-size: auto auto;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }

  .phrase {
     color: #599bb3; 
     padding-left: 50px;
     text-align: left;
     font-size: 1em;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .phraseCenter {
    color: #599bb3; 
    padding-left: 1px;
    text-align: center;
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

  .red {
    color: #e60000; 
    
  }

  .hide {
      visibility: hidden;
      display: block;
      size: 0em;
      font-size: 0em;
  }
