span {
    position: relative;
    display: inline-block;
    margin: 10px;
  }


  .basic-slide {
    display: inline-block;
    width: 12rem;
    padding: 10px 0 10px 15px;
    font-family: "Open Sans", sans;
    font-size: 1rem;
    // font-weight: 400;
    color: #377D6A;
    background: #efefef;
    border: 0;
    border-radius: 3px;
    outline: 0;
    text-indent: 5.3rem; // Arbitrary.
    transition: all .3s ease-in-out;
    
    &::-webkit-input-placeholder {
      color: #efefef;
      text-indent: 2.8rem;
      font-weight: 300;
    }
    
    + label {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 4rem;
      font-size: 0.8em;
      color: white;
      letter-spacing: 0.1em;
      padding: 9px;
      
      // text-shadow: 0 1px 0 rgba(19,74,70,.4);
      // background: #b5c0b9;
      transition: all .3s ease-in-out;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      
    }
    
  }
  .basic-slide:focus,
  .basic-slide:active {
    color: #377D6A;
    text-indent: 2.8rem;
    background: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    
    &::-webkit-input-placeholder {
      color: #aaa;
    }
    + label {
      transform: translateX(-40%);
    }
  }

  .orange {
    background: #FFD23F;
  }

  .violet {
    background: #540D6E;
  }
  
  .pink {
    background: #EE4266;
  }

  .caraibbean {
    background: #3BCEAC;
  }

  .green {
    background: #0EAD69;
  }