.container{
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    grid-template-rows: 1fr 5fr 1fr;
    height: 100vh;
    background-color: azure;
}
.main{
    
    grid-area: 2/2/2/2;
    background-color: cornflowerblue;
}
.button {
    box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #29668f 5%, #599bb3 100%);
	background-color:#599bb3;
	border-radius:8px;
	border:2px solid #29668f;
    /* display:inline-block; */
    margin: 5px;
    cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 20px;
	text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
}

.button:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.button:active {
	position:relative;
	top:1px;
}
.hidden {
    visibility: hidden;
}
.result {
    grid-area: 1/1/2/5;
    font-family:Arial;
    height: 1em;
	font-size:20px;
	font-weight:bold;
}

.input {
    grid-area: 2/1/3/4;
    border-radius:8px;
	border:2px solid #29668f;
    background-color: ivory;
    margin: 5px;
    cursor:pointer;
	color:#061b5f;
    font-family:Arial;
    text-align: right;
	font-size:20px;
	font-weight:bold;
    padding: 10px;
    width: 210px;
    height: 20px;
	
}
.calcBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    text-align: center;
    background-color: whitesmoke;
    width: 320px;
}
.calculation {
    background-color: tomato;
    background:linear-gradient(to bottom, #f13333 5%, #e66161 100%);
    border:2px solid tomato;
}
.calculation:hover {
    background-color: tomato;
    background:linear-gradient(to bottom, #e42323 5%, #f30d0d 100%);
    border:2px solid tomato;
}