
body {
  padding: 10px;
  margin: 10px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 300% 300%;
	animation: gradient 20s ease infinite;
  color: #EEEEEE;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
