nav {
    // max-width: 960px;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0.863) 100%);
    margin: 0 auto;
    padding: 0 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }


  
//   nav div {
//     display: inline-block;
    
//   }
  
  nav a {
    padding: 20px;
    
    text-transform:uppercase;
    color: rgba(0, 35, 122, 0.5);
    font-size: 16px;
    text-decoration: none;
    
    
  }
  .pushright {
      margin-left: auto;
  }
  
  nav h1 {
    // padding: 10px;
    font-family: "Open Sans";
    text-transform:uppercase;
    color: rgba(255, 255, 255, 0.541);
    font-size: 20px;
    letter-spacing: 0.5rem;
    text-decoration: none;
    
  }

  nav a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
  }

  .option {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }